/*This is the style sheet that we will be using for the HTMeal website.*/

body{
    background-image: url("wood_2.png");

    font-family: Century Gothic;
}
/*Header of the page*/
.header{
	left:0px;
	right:0px;
	top:0px;
	height:180px;
	padding-top: 20px;
	text-align: right;
	position:absolute;
	font-weight: bolder;
	color:#fff;
    font-size: 1.5em;
	padding-right: 200px;
	/*background-color:rgba(255,255,255, .3);*/

	width:auto;
    box-shadow: 2px 2px 4px #554433;
}

.container{
    height:auto;
    padding:20px;
    background-color:rgba(255,250,255,.999);
    border-radius: 2px;
    box-shadow: 4px 4px 4px rgba(30,30,30, .4);
    width:80%;
    position: relative;
    top:100px;
    margin: 0px auto;
    margin-bottom: 30px;
    text-align: left;
}
/* NAVIGATION */
/* There is a div class .nav that has an auto height, relative position, and no margin, centered. Background is set to a color (green) so it is evident if it is overflowing or content is accidentally pushed into it.*/
/* It should automatically not extend, because it holds divs that do not expand it */

.nav{width:80%; height:auto; position:relative; margin:0 auto; background-color:green; margin-top:180; }

/* ITEM is meant to hold a navigation link. There are four of them to fill across the .nav div, so they take up 25% space. They are centered, auto height.*/
.nav_item_span{ float:left; width:25%; height:auto; overflow:auto; align:center;}

/* A navigation item is a div with rounded corners for circular buttons, align content in the center for link images and a black border.*/
.nav_item{width:80%; height:55px; vertical-align:middle; text-align: center; vertical-align: middle; padding-top:10px; font-family:Century Gothic; letter-spacing:1.4; word-spacing:7; color:#fff; /*background-color:rgba(190,230,190,.5); */ background-color:black;z-index:1;box-shadow: 5px 5px 5px #774534; font-size:16px;}

/* On hover, give inset box shadow and remove borders. Everything else is inherited*/
.nav_item:hover{box-shadow: none; border-style:none; cursor:pointer; color:green;}

/*On the click, give a deeper and darker inset */
.nav_item:active{box-shadow: inset 4px 4px 4px #555;}

h1
{
	font-size: 3em;
}

.gallery
{
    margin:0px auto;
    padding:0px;
    width:90%;
    height:auto;
    text-align: center;
    vertical-align: middle;
    box-shadow: 5px 5px 5px #444;
}

.gallery_item{
    width: 290px;
    height: 290px;
    margin:10px;
    box-shadow: 5px 5px 5px #444;
    float: left;
}

#menu
{
	text-align: center;
}




